#grid {
  width: 800px;
  height: 800px;
  margin: auto;
  background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 10);
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.azure {
  background-color: azure;
}
